html
    body
        h1 Profile

        p Name: #{name}
        p Surname: #{surname}
        p Email: #{email}
        p Birthdate: #{birthdate}

        h2 Edit Info

        form(method='post' action='/views')
          div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='New name' name='name')
          div.form-group
            label(for='password') Password:
            input#pw.form-control(type='password', placeholder='New Password' name='password')
          div.form-group
          button.btn.btn-primary(type='submit') Submit
